@import-normalize;

body {
    background-color: #ddd;
}

.containerFull {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
}

.movie {
    width: 280px;
    margin: 2rem 1rem 0;
    word-wrap: break-word;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .5rem;
    padding: 1.5rem;
    position: relative;
    box-shadow: .7rem .7rem rgba(44, 44, 44, 0.25);
}

.movie__title {
    margin: 0;
    font-weight: bold;
}

.crossClose {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.is-flex {
    display: flex;
}

.is-ml15 {
    margin: 0 0 0 15px;
}

.button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.selectCatego {
    margin: 3rem 0 0;
    padding: 0.7rem 1rem;
    border: 1px solid rgba(0,0,0,.25);
    border-radius: .5rem;
    box-shadow: .3rem .3rem rgba(44, 44, 44, 0.10);
}